.no-padding{
    padding: 0;
}
.ci-section{
    padding-top: 30%;
    padding-bottom: 0;
    background: url('./ci-background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}
.ci-title{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.35;
    color: #fff;
    max-width: 60%;
    font-family: 'Montserrat', sans-serif;

}

.three-dots{
    margin-top: 40px;
}
.three-dots span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;

}
.ci-gallery-wrapper{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

}
.ci-gallery-item{
    max-width: 50%;
}
.ci-gallery-item-photo{
    position: relative;
    max-width: 100%;
    cursor: pointer;
    z-index: 2;
}
.ci-gallery-item img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.ci-gallery-item-content{
    background-color: #fff;
    padding: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}
.ci-gallery-item-content p{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.73;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  white-space: normal;
}
.ci-gallery-item-content *{
    animation:  fadeIn 0.5s ease-in-out;
}
.ci-gallery-item-content p br{
    display: block;
   margin: 10px 0;
}

.ci-gallery-item-content .ci-author-details .text-muted{
 font-size: 18px;
 color: #cacaca;
}
.ci-author-details{
    margin-top: 50px;
}
.ci-author-details p{
    font-size: 16px;
}
.ci-link{
    margin-left: 3px;
    font-weight: bold;
}

.ci-gallery-item.active .ci-gallery-item-content{
 display: block;
}
.ci-gallery-item.active .ci-arrow{
    opacity: 1;
}

.ci-gallery-item-photo-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #050505d4;
    opacity: 0;
}

.ci-gallery-item-photo-details{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    max-width: 50%;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transform: translateX(-10px);
}

.ci-gallery-item-photo:hover .ci-gallery-item-photo-overlay{
   opacity: 1;
   transition: all 0.2s  ease-in-out;
}

.ci-gallery-item.active .ci-gallery-item-photo-overlay{
    opacity: 1;
 }

 .ci-gallery-item.active .ci-gallery-item-photo-details{
    opacity: 1;
    transform: translateX(0);
 }

.ci-gallery-item-photo:hover .ci-gallery-item-photo-details{
    opacity: 1;
    transition: all 0.2s ease-in-out 0.2s;
    transform: translateX(0);

 }

.ci-arrow{
    position: absolute;
    bottom: -22px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-left: 12px solid transparent;
    border-top: 15px solid #292929;
    border-right: 12px solid transparent;
    z-index: 2;
    opacity: 0;
}
.fadeIn *{
    animation:  fadeIn 0.5s ease-in-out;
}
.fadeOut *{
    animation:  fadeOut 0.5s ease-in-out;
}
/* The fadeIn animation code */
@keyframes fadeIn{
    0%   {
        transform: translateY(-50px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

  @keyframes fadeOut{
    0%   {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0.5;
    }
  }

  @media(min-width: 320px){

    .ci-gallery-item-photo img{
        height: 260px;
    }
    .ci-gallery-item-photo{
        height: 260px;
    }
}

@media(min-width: 480px){
    .ci-gallery-item{
        width: 33.33333333%;
    }

    .ci-gallery-item-photo img{
        height: 200px;
    }
    .ci-gallery-item-photo{
        height: 200px;
    }
}

@media(min-width: 768px){
    .ci-gallery-item{
        width: 25%;
    }

    .ci-gallery-item-photo img{
        height: 250px;
    }
    .ci-gallery-item-photo{
        height: 250px;
    }
    .ci-gallery-item-content{
        padding: 50px;
    }
}

@media(min-width: 1024px){
    .ci-section{
        padding-top: 12%;
    }
    .ci-gallery-item{
        width: 20%;
    }
    .ci-title{
        font-size: 36px;
    }

    .three-dots span{
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    .ci-gallery-wrapper{
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
    
    }
    .ci-gallery-item-photo img{
        height: 310px;
    }
    .ci-gallery-item-photo{
        height: 310px;
    }
    .ci-gallery-item-content{
        padding: 120px;
    }
    .ci-gallery-item-content p{
        font-size: 18px;
    }
    .ci-gallery-item-photo-details{
        font-size: 26px;
    }
}

